.about-section {
  padding-top: 80px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 144px;
    padding-bottom: 104px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 40px;
  }
}

.about-img1 {
  @include media(desktop) {
    min-width: 416px;
  }
}

.about-img2 {
  @include media(desktop) {
    min-width: 304px;
  }
}

.about-img3 {
  @include media(desktop) {
    min-width: 416px;
  }
}

.about-top-text-wrapper {
  @include media(desktop) {
    max-width: 632px;
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-top-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: #212222;

  @include media(desktop) {
    font-size: 28px;
  }
}

.about-bottom-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 40px;
  }
}

.about-bottom-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    max-width: 512px;
  }
}

.about-bottom-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #6d6a63;

  @include media(desktop) {
    font-size: 24px;
  }
}
