.advantages-section {
  @include media(desktop) {
  }
}

.advantages-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/advantages/advantages-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 104px;
    max-width: 1440px;
    background-image: url(../img/advantages/advantages-bg-desk.jpg);
  }
}

.advantages-container {
  @include media(desktop) {
  }
}

.advantages-title {
  text-align: center;

  @include media(desktop) {
  }
}

.advantages-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 28px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}
