.features-section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 104px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: #212222;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 28px;
    max-width: 640px;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 32px;
  }
}

.features-list-item {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.features-img {
  @include media(desktop) {
  }
}
