.gallery-section {
  background: #353535;

  @include media(desktop) {
  }
}

.gallery-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 104px;
    max-width: 1440px;
  }
}

.gallery-container {
  @include media(desktop) {
  }
}

.gallery-title {
  @include media(desktop) {
  }
}

.gallery-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 28px;
    max-width: 640px;
    margin-bottom: 64px;
  }
}

.gallery-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    overflow: visible;
    max-width: 1440px;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-swiper-wrapper {
  @include media(desktop) {
  }
}

.gallery-slide {
  width: 100% !important;
  max-width: 343px;

  @include media(desktop) {
    max-width: 239px;

    &:first-child {
      max-width: 355px;
    }
  }
}

.gallery-img {
  @include media(desktop) {
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
  margin-top: 24px;

  @include media(desktop) {
    display: none;
  }
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);

      .arrow-icon {
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      transform: none;
    }
  }
}

.arrow-icon {
}
