.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 365px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 520px;
    padding-bottom: 64px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
}

.hero-text-wrapper {
  margin-bottom: 16px;

  @include media(desktop) {
    max-width: 640px;
    margin-bottom: 0;
  }
}

.hero-main-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 92px;
  }
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  color: #dfdfdf;

  @include media(desktop) {
    font-size: 18px;
  }
}

.hero-bottom-wrapper {
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #c8c8c8;
  border-radius: 30px;
  padding: 19px 23px;
  max-width: 280px;

  @include media(desktop) {
  }
}

.hero-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #dfdfdf;
  margin-bottom: 20px;

  @include media(desktop) {
  }
}

.hero-bottom-span {
  background: #fff;
  border-radius: 50px;
  padding: 6px 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.4;
  color: #6d6a63;
  max-width: max-content;

  @include media(desktop) {
  }
}
