.uniqueness-section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 104px;
  }
}

.uniqueness-container {
  @include media(desktop) {
  }
}

.uniqueness-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-bottom: 64px;
  }
}

.uniqueness-title {
  @include media(desktop) {
  }
}

.uniqueness-top-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: #212222;

  @include media(desktop) {
    font-size: 28px;
    max-width: 636px;
  }
}

.uniqueness-text-wrapper {
  @include media(desktop) {
    max-width: 636px;
  }
}

.uniqueness-middle-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #6d6a63;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 24px;
  }
}

.uniqueness-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  color: #6d6a63;

  @include media(desktop) {
    font-size: 18px;
  }
}

.uniqueness-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
