<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <p class="faq-subtitle">Common Questions</p>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is Click Horizon easy to play?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-down"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes, the mechanics are simple and beginner-friendly.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Does the game support idle progress?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-down"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes, rewards continue accumulating while away.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is there a time limit?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-down"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          No, the game has no timers or pressure mechanics.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Can I reset progress?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-down"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes, progression resets unlock long-term bonuses.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text"
            >Is the game suitable for casual players?</span
          >
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-down"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Absolutely, it’s designed for relaxed gameplay.
        </p>
      </li>
    </ul>
  </div>
</section>
