<section class="section features-section" id="features">
  <div class="container features-container">
    <h2 class="section-title features-title">Players enjoy</h2>
    <p class="features-text">
      Great for those times when you wanna turn your brain off but still feel
      like you're doing something, if that makes sense.
    </p>
    <ul class="features-list">
      <li class="features-list-item">
        <picture>
          <source
            srcset="./img/features/features-img1-desk.png"
            media="(min-width: 1440px)"
            width="416"
            height="294" />
          <source
            srcset="./img/features/features-img1-mob.png"
            width="343"
            height="294" />
          <img
            class="features-img"
            src="./img/features/features-img1-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="294"
            loading="lazy"
        /></picture>
      </li>
      <li class="features-list-item">
        <picture>
          <source
            srcset="./img/features/features-img2-desk.png"
            media="(min-width: 1440px)"
            width="416"
            height="294" />
          <source
            srcset="./img/features/features-img2-mob.png"
            width="343"
            height="294" />
          <img
            class="features-img"
            src="./img/features/features-img2-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="294"
            loading="lazy"
        /></picture>
      </li>
      <li class="features-list-item">
        <picture>
          <source
            srcset="./img/features/features-img3-desk.png"
            media="(min-width: 1440px)"
            width="416"
            height="294" />
          <source
            srcset="./img/features/features-img3-mob.png"
            width="343"
            height="294" />
          <img
            class="features-img"
            src="./img/features/features-img3-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="294"
            loading="lazy"
        /></picture>
      </li>
    </ul>
  </div>
</section>
