<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">Click Horizon</h1>
          <p class="hero-text">
            Click Horizon is what you get when someone takes the most brain-dead
            thing imaginable - clicking - and actually makes it enjoyable
            somehow. Sounds simple? It is, and that's the beauty of it. Click,
            unlock upgrades, expand your world, and watch progress unfold step
            by step.
          </p>
        </div>
        <div class="hero-bottom-wrapper">
          <p class="hero-bottom-text">
            Clicking may sound boring, but it’s oddly satisfying to watch your
            tiny world grow with each tap.
          </p>
          <p class="hero-bottom-span">#ClickMagic</p>
        </div>
      </div>
    </div>
  </div>
</section>
