<section class="section uniqueness-section" id="uniqueness">
  <div class="container uniqueness-container">
    <h2 class="section-title uniqueness-title">Uniqueness</h2>
    <div class="uniqueness-content-wrapper">
      <p class="uniqueness-top-text">
        The upgrades actually change how the game feels, not like those lazy '+1
        damage' upgrades that literally every other clicker just throws at you.
      </p>
      <div class="uniqueness-text-wrapper">
        <p class="uniqueness-middle-text">
          Instead of static screens, the visual horizon keeps expanding as you
          play. New areas and mechanics unlock naturally, so progress is
          something you actually see, not just a number going up.
        </p>
        <p class="uniqueness-bottom-text">
          Progress continues while you’re away, and when you return, it’s
          immediately clear how far you’ve come and what changed during your
          absence.
        </p>
      </div>
    </div>
    <picture>
      <source
        srcset="./img/uniqueness/uniqueness-img-desk.png"
        media="(min-width: 1440px)"
        width="1286"
        height="89" />
      <source
        srcset="./img/uniqueness/uniqueness-img-mob.png"
        width="343"
        height="55" />
      <img
        class="uniqueness-img"
        src="./img/uniqueness/uniqueness-img-mob.png"
        alt="Screenshot of the game"
        width="343"
        height="55"
        loading="lazy"
    /></picture>
  </div>
</section>
